jprimora_aplikacija_2_Web/src/conf/xml-resources/web-service-references/GeoMeteoSOAP/wsdl/localhost_8084/jprimora_aplikacija_1/GeoMeteoSOAP.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.jprimoora.nwtis.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.jprimoora.nwtis.foi.org/" name="GeoMeteoSOAP">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.jprimoora.nwtis.foi.org/" schemaLocation="http://localhost:8084/jprimora_aplikacija_1/GeoMeteoSOAP?xsd=1"/>
</xsd:schema>
</types>
<message name="trenutniMeteoZaAdresu">
<part name="parameters" element="tns:trenutniMeteoZaAdresu"/>
</message>
<message name="trenutniMeteoZaAdresuResponse">
<part name="parameters" element="tns:trenutniMeteoZaAdresuResponse"/>
</message>
<message name="listaDodanihAdresa">
<part name="parameters" element="tns:listaDodanihAdresa"/>
</message>
<message name="listaDodanihAdresaResponse">
<part name="parameters" element="tns:listaDodanihAdresaResponse"/>
</message>
<message name="posljednjiNMeteoZaAdresu">
<part name="parameters" element="tns:posljednjiNMeteoZaAdresu"/>
</message>
<message name="posljednjiNMeteoZaAdresuResponse">
<part name="parameters" element="tns:posljednjiNMeteoZaAdresuResponse"/>
</message>
<message name="meteoZaAdresuUIntervalu">
<part name="parameters" element="tns:meteoZaAdresuUIntervalu"/>
</message>
<message name="meteoZaAdresuUIntervaluResponse">
<part name="parameters" element="tns:meteoZaAdresuUIntervaluResponse"/>
</message>
<message name="staniceNUBliziniAdrese">
<part name="parameters" element="tns:staniceNUBliziniAdrese"/>
</message>
<message name="staniceNUBliziniAdreseResponse">
<part name="parameters" element="tns:staniceNUBliziniAdreseResponse"/>
</message>
<message name="prognozaZaNSatiZaAdresu">
<part name="parameters" element="tns:prognozaZaNSatiZaAdresu"/>
</message>
<message name="prognozaZaNSatiZaAdresuResponse">
<part name="parameters" element="tns:prognozaZaNSatiZaAdresuResponse"/>
</message>
<message name="prognozaZaNDanaZaAdresu">
<part name="parameters" element="tns:prognozaZaNDanaZaAdresu"/>
</message>
<message name="prognozaZaNDanaZaAdresuResponse">
<part name="parameters" element="tns:prognozaZaNDanaZaAdresuResponse"/>
</message>
<message name="rangListaAdresa">
<part name="parameters" element="tns:rangListaAdresa"/>
</message>
<message name="rangListaAdresaResponse">
<part name="parameters" element="tns:rangListaAdresaResponse"/>
</message>
<message name="listaDodanihAdresaBesplatno">
<part name="parameters" element="tns:listaDodanihAdresaBesplatno"/>
</message>
<message name="listaDodanihAdresaBesplatnoResponse">
<part name="parameters" element="tns:listaDodanihAdresaBesplatnoResponse"/>
</message>
<portType name="GeoMeteoSOAP">
<operation name="trenutniMeteoZaAdresu">
<input wsam:Action="http://ws.jprimoora.nwtis.foi.org/GeoMeteoSOAP/trenutniMeteoZaAdresuRequest" message="tns:trenutniMeteoZaAdresu"/>
<output wsam:Action="http://ws.jprimoora.nwtis.foi.org/GeoMeteoSOAP/trenutniMeteoZaAdresuResponse" message="tns:trenutniMeteoZaAdresuResponse"/>
</operation>
<operation name="listaDodanihAdresa">
<input wsam:Action="http://ws.jprimoora.nwtis.foi.org/GeoMeteoSOAP/listaDodanihAdresaRequest" message="tns:listaDodanihAdresa"/>
<output wsam:Action="http://ws.jprimoora.nwtis.foi.org/GeoMeteoSOAP/listaDodanihAdresaResponse" message="tns:listaDodanihAdresaResponse"/>
</operation>
<operation name="posljednjiNMeteoZaAdresu">
<input wsam:Action="http://ws.jprimoora.nwtis.foi.org/GeoMeteoSOAP/posljednjiNMeteoZaAdresuRequest" message="tns:posljednjiNMeteoZaAdresu"/>
<output wsam:Action="http://ws.jprimoora.nwtis.foi.org/GeoMeteoSOAP/posljednjiNMeteoZaAdresuResponse" message="tns:posljednjiNMeteoZaAdresuResponse"/>
</operation>
<operation name="meteoZaAdresuUIntervalu">
<input wsam:Action="http://ws.jprimoora.nwtis.foi.org/GeoMeteoSOAP/meteoZaAdresuUIntervaluRequest" message="tns:meteoZaAdresuUIntervalu"/>
<output wsam:Action="http://ws.jprimoora.nwtis.foi.org/GeoMeteoSOAP/meteoZaAdresuUIntervaluResponse" message="tns:meteoZaAdresuUIntervaluResponse"/>
</operation>
<operation name="staniceNUBliziniAdrese">
<input wsam:Action="http://ws.jprimoora.nwtis.foi.org/GeoMeteoSOAP/staniceNUBliziniAdreseRequest" message="tns:staniceNUBliziniAdrese"/>
<output wsam:Action="http://ws.jprimoora.nwtis.foi.org/GeoMeteoSOAP/staniceNUBliziniAdreseResponse" message="tns:staniceNUBliziniAdreseResponse"/>
</operation>
<operation name="prognozaZaNSatiZaAdresu">
<input wsam:Action="http://ws.jprimoora.nwtis.foi.org/GeoMeteoSOAP/prognozaZaNSatiZaAdresuRequest" message="tns:prognozaZaNSatiZaAdresu"/>
<output wsam:Action="http://ws.jprimoora.nwtis.foi.org/GeoMeteoSOAP/prognozaZaNSatiZaAdresuResponse" message="tns:prognozaZaNSatiZaAdresuResponse"/>
</operation>
<operation name="prognozaZaNDanaZaAdresu">
<input wsam:Action="http://ws.jprimoora.nwtis.foi.org/GeoMeteoSOAP/prognozaZaNDanaZaAdresuRequest" message="tns:prognozaZaNDanaZaAdresu"/>
<output wsam:Action="http://ws.jprimoora.nwtis.foi.org/GeoMeteoSOAP/prognozaZaNDanaZaAdresuResponse" message="tns:prognozaZaNDanaZaAdresuResponse"/>
</operation>
<operation name="rangListaAdresa">
<input wsam:Action="http://ws.jprimoora.nwtis.foi.org/GeoMeteoSOAP/rangListaAdresaRequest" message="tns:rangListaAdresa"/>
<output wsam:Action="http://ws.jprimoora.nwtis.foi.org/GeoMeteoSOAP/rangListaAdresaResponse" message="tns:rangListaAdresaResponse"/>
</operation>
<operation name="listaDodanihAdresaBesplatno">
<input wsam:Action="http://ws.jprimoora.nwtis.foi.org/GeoMeteoSOAP/listaDodanihAdresaBesplatnoRequest" message="tns:listaDodanihAdresaBesplatno"/>
<output wsam:Action="http://ws.jprimoora.nwtis.foi.org/GeoMeteoSOAP/listaDodanihAdresaBesplatnoResponse" message="tns:listaDodanihAdresaBesplatnoResponse"/>
</operation>
</portType>
<binding name="GeoMeteoSOAPPortBinding" type="tns:GeoMeteoSOAP">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="trenutniMeteoZaAdresu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listaDodanihAdresa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="posljednjiNMeteoZaAdresu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="meteoZaAdresuUIntervalu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="staniceNUBliziniAdrese">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="prognozaZaNSatiZaAdresu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="prognozaZaNDanaZaAdresu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="rangListaAdresa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listaDodanihAdresaBesplatno">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GeoMeteoSOAP">
<port name="GeoMeteoSOAPPort" binding="tns:GeoMeteoSOAPPortBinding">
<soap:address location="http://localhost:8084/jprimora_aplikacija_1/GeoMeteoSOAP"/>
</port>
</service>
</definitions>